# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [4]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [5]:
cap = words.capitalize()
title = words.title()
upper = words.upper()
upper
words

"hI! Everyone, I'm kim"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [ ]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [4]:
lower = words.lower()
sc = words.swapcase()
print(lower)
sc

hi! everyone, i'm kim

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다. iterable(for문에서 돌아가는 애들)

In [10]:
# 아래에 코드를 작성하세요.
exc = '!'
exc.join('배고파')

'!'.join('배고파')

'-'.join(['hi', 'hello'])

'#'.join(['월요일', '졸리다', 'python', 'ssafy'])

' '.join(['오늘은', '보충수업'])

'오늘은 보충수업'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [12]:
# 아래에 코드를 작성하세요.
'yayaya!'.replace('a', '_')

s = 'wooooowooo'
s2 = s.replace('o', 'x')
s2

f = s.replace('g', 'd')
f

'wooooowooo'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [17]:
# 아래에 코드를 작성하세요.
s = '     oh!      \n'.strip()
print('    oh!  \n     new'.strip())  # 중간에 있는 애는 제거 못함.
s

oh!
     new

'oh!'

In [13]:
'hehehegigigi'.rstrip('gi')  # 오른쪽부터 gi 있는 애들 지우기
'hehehegigigi'.lstrip('he')  # 왼쪽부터 he 있는 애들 지우기
'hehehegigigi'.lstrip('d')

'hehehegigigi'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [123]:
# 아래에 코드를 작성하세요.
'apple'.find('l')

3

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [28]:
# 아래에 코드를 작성하세요.
'apple'.index('a')

0

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [37]:
# 아래에 코드를 작성하세요.
# 'a b c'.split()
'a-b-c'.split('-')
insta = '#월요일 #밥시간 #미세먼지 오늘은 어쩌고 저쩌고'
words = insta.split()

hashtags = []
for word in words:
    if word[0] == '#':
        hashtags.append(word[1:])
        
hashtags

['월요일', '밥시간', '미세먼지']

In [17]:
l = [1,2,3,3,4,5,6,7]
l[::-1]

[7, 6, 5, 4, 3, 3, 2, 1]

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [38]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [40]:
# 값을 추가해봅시다.
caffe.append('caffebene')
caffe

['starbucks', 'tomntoms', 'hollys', 'caffebene']

In [45]:
result = caffe.append('lalal')
print(result)

None

In [41]:
def a():
    return 1
def b():
    useless = 1 + 1
    # return None
    
c = a()
d = b()
print(c, d)

1 None

In [46]:
caffe

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'lalal']

In [67]:
# 어렵게 넣어보도록 해봅시다.
# caffe = caffe + [droptop]
caffe[len(caffe):] = ['ediya']  # caffe에서 맨마지막부터 'ediya'를 넣어라.
caffe

['starbucks',
 'tomntoms',
 'hollys',
 'caffebene',
 'ediya',
 'ediya',
 'lalal',
 'ediya',
 'ediya',
 'ediya',
 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['droptop', ])

In [70]:
caffe

['starbucks',
 'tomntoms',
 'hollys',
 'caffebene',
 'ediya',
 'ediya',
 'lalal',
 'ediya',
 'ediya',
 'ediya',
 'ediya',
 'w cafe',
 'angelinus']

In [71]:
# 앞서 배운 list concatenate와 동일합니다.
caffe += ['w cafe', 'angelinus']
caffe

['starbucks',
 'tomntoms',
 'hollys',
 'caffebene',
 'ediya',
 'ediya',
 'lalal',
 'ediya',
 'ediya',
 'ediya',
 'ediya',
 'w cafe',
 'angelinus',
 'w cafe',
 'angelinus']

In [74]:
# append와 비교해봅시다.
l = []
l.append(['a', 'b'])  # [['a', 'b']]
print(l)
l.extend(['a', 'b'])  # ['a', 'b']
print(l)

[['a', 'b']]
[['a', 'b'], 'a', 'b']

In [79]:
s = 'a' + 'b'
s  # 'ab'
ss = 'c' 'd'
ss  # 'cd'
l3 = ['a' 'b']
l3  # ['ab']

['ab']

In [80]:
caffe.append(['coffeenie'])
print(caffe)
caffe.extend('coffeegurunaru')
print(caffe)  # extend 안에있는걸 분리해서 하나하나 추가하니까 string 추가 시 유의

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'lalal', 'ediya', 'ediya', 'ediya', 'ediya', 'w cafe', 'angelinus', 'w cafe', 'angelinus', ['coffeenie']]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'lalal', 'ediya', 'ediya', 'ediya', 'ediya', 'w cafe', 'angelinus', 'w cafe', 'angelinus', ['coffeenie'], 'c', 'o', 'f', 'f', 'e', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [81]:
lunches = ['돈까스', '매운닭볶음']

In [82]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
lunches.insert(0, '파스타')
lunches

['파스타', '돈까스', '매운닭볶음']

In [83]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
lunches.insert(len(lunches), '곱창')
lunches

['파스타', '돈까스', '매운닭볶음', '곱창']

In [84]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
lunches.insert(len(lunches) + 100, '배고파')
lunches

['파스타', '돈까스', '매운닭볶음', '곱창', '배고파']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [85]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [87]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
numbers

[2, 3, 2]

In [88]:
# 한번 더 삭제해봅시다.
numbers.remove(1)

ValueError: list.remove(x): x not in list

In [89]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers

[2, 3, 2]

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [15]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [2]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
numbers.pop(0)

1

In [16]:
numbers
numbers.pop(9)

IndexError: pop index out of range

In [3]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
print(numbers)
pop_value = numbers.pop()  # 마지막 항목을 삭제하고 되돌려줍니다.
print(f'{pop_value}가 삭제되어 {numbers}가 남았습니다.')

[1, 2, 3, 4, 5]
5가 삭제되어 [1, 2, 3, 4]가 남았습니다.

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [8]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
numbers.index(3)  # 3이라는 요소의 인덱스가 뭐여?

2

In [4]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
value = 100
if value in numbers:
    i = numbers.index(100)
else:
    i = -1
i

-1

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [10]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]
numbers.count(1)

3

In [11]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
numbers.remove(1)

target = 1
for _ in range(numbers.count(target)):
    numbers.remove(target)

In [12]:
# 모두 삭제되었는지 검증해봅시다.
numbers

[2, 5, 5]

In [43]:
numbers = [1, 2, 3]
sum_num = 0
for i in range(3):
    sum_num += numbers[i]
    max_num = min_num = sum_num
print(max_num, min_num, sum_num)

6 6 6

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [9]:
numbers = [5, 2, 3, 1, 4]
sorted(numbers)  # return O, origin not change

sorted('fdsa')  # ['a', 'd', 'f', 's'] 자동으로 sort하여 list로 됨
''.join(sorted('fdsa'))

['a', 'd', 'f', 's']

In [17]:
x = numbers.sort()  # return 없음(None), origin change(라이츄로 진화하며 피카츄 없어짐)
print(x)  # 아무것도 안들어감.
print(numbers)  # 얘가 라이츄

None
[1, 2, 3, 4, 5]

In [18]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[17, 45, 32, 37, 19, 3]

In [20]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)

lotto.sort(reverse=True)  # 거꾸로 헿
print(lotto)

[3, 17, 19, 32, 37, 45]
[45, 37, 32, 19, 17, 3]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [21]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [22]:
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

## 복사

In [1]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

copy_list = original_list
print(copy_list)

[1, 2, 3]

In [2]:
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] ='a'
print(copy_list, original_list) # 둘다 멍청하게 자리만 가르키고 있음

['a', 2, 3] ['a', 2, 3]

In [3]:
# id 값을 확안해봅시다.
print(id(original_list) == id(copy_list))  # True

True

In [4]:
# 숫자를 확인해봅시다.  call by value
a = 10000
b = a
b = 2
print(a, b)

10000 2

In [7]:
# 딕셔너리도 확인해봅시다. call by reference
# 파이썬 튜터에 해보면 잘 나옴 pointing하고 있던 애들
a = ('a', 'b')
a = {1, 2, 3}
b = a

c = {'a': 1, 'b': 2}
d = c
d['a'] = 100  # d만 바꿔도 c도 바뀜
print(c, d)

{'a': 100, 'b': 2} {'a': 100, 'b': 2}

In [10]:
# list는 바뀌어서 문제 (mutable에서 list만 문제임..)
a = [1, 2, 3]
b = a
b[2] = 100
b.append('a')

# tuple은 재할당은 가능하지만 바꾸는게 불가능하기때문에 영향을 받지 않음(복사할필요가 없어서)
i = (1, 2, 3)
j = i  # 이렇게만 하면 값을 바꿀 수 없다고 에러남
i = (1, 2, 3, 4)

### copy - 시험에 나옴
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [13]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = a[:]  # 슬라이싱 - 리턴
b

[1, 2, 3]

In [16]:
# 다른 방법으로 복사해봅시다.
a = 10000
c = str(a)
b = int(c)
# list([1, 2, 3])

id(a), id(b)

(2235419379120, 2235419378736)

In [18]:
import copy
a = [1, 2, 3]
b = copy.copy(a)
b.append('u')
a, b

([1, 2, 3], [1, 2, 3, 'u'])

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [23]:
# tutor에서 보세용
a = [
    [1, 2, 3],
    [4, 5, 6]
]

li1 = [1, 2, 3]
li2 = [4, 5, 6]

l1 = [li1, li2]
l1
l2 = l1[:]  # l1과 l2가 복사가 되지만, 내부에 가르키는 li1, li2는 변하지않음.
l2

[[1, 2, 3], [4, 5, 6]]

In [26]:
# 2차원 배열을 복사해봅시다.
l1 = [
    {'movieCd': 123},
    {'movieNm': 456}
]
l2 = l1[:]
l3 = list(l1)
l2, l3

([{'movieCd': 123}, {'movieNm': 456}], [{'movieCd': 123}, {'movieNm': 456}])

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [27]:
# 깊은 복사를 사용해봅시다.
import copy
l1 = [
    [1, 2, 3],
    [4, 5, 6]
]

l2 = copy.deepcopy(l1)  # 완전 복사

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [28]:
# clear를 사용해봅시다. 원본이 바뀐다.
numbers = list(range(1, 46))
numbers.clear()
numbers

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [31]:
numbers = range(1,11)

In [32]:
# 기존의방법
cubic_list = []
for number in numbers:
    cubic_list.append(number ** 3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [33]:
# List Comprehension
cubic_list = [number ** 3 for number in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [34]:
numbers = range(1,11)

In [35]:
# 기존의방법
evens = []
for number in numbers:
    if number % 2 == 0:
        evens.append(number)
print(evens)

[2, 4, 6, 8, 10]

In [36]:
# List Comprehension
even_list = [number for number in numbers if number % 2 == 0]
                #표현되는 값이 앞쪽에 조건, for 문이 뒤쪽
even_list

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [38]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [40]:
# 반복문을 활용하여 만들어주세요.
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
        
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [43]:
# List comprehension을 활용하여 만들어주세요.
pair = [(boy, girl) for boy in boys for girl in girls]  # 최종적으로 들어가는 것이 튜플
pair

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [46]:
# 반복문을 활용하여 만들어주세요.
li = []
for x in range(1, 50):
    for y in range(1, 50):
        for z in range(1, 50):
            if x**2 + y**2 == z**2:
                li.append((x, y, z))
                
print(li)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (18, 24, 30), (20, 15, 25), (20, 21, 29), (21, 20, 29), (21, 28, 35), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (27, 36, 45), (28, 21, 35), (30, 16, 34), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41)]

In [50]:
# List comprehension을 활용하여 만들어주세요.
li = [(x, y, z) for x in range(1, 50) for y in range(1, 50) for z in range(1, 50) if x**2 + y**2 == z**2]
li

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (12, 35, 37),
 (15, 8, 17),
 (15, 20, 25),
 (15, 36, 39),
 (16, 12, 20),
 (16, 30, 34),
 (18, 24, 30),
 (20, 15, 25),
 (20, 21, 29),
 (21, 20, 29),
 (21, 28, 35),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30),
 (24, 32, 40),
 (27, 36, 45),
 (28, 21, 35),
 (30, 16, 34),
 (32, 24, 40),
 (35, 12, 37),
 (36, 15, 39),
 (36, 27, 45),
 (40, 9, 41)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [57]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
vowels = 'aeiou'

result = [word for word in words if word not in vowels]
''.join(result)

'Lf s t shrt, y nd pythn!'

In [58]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [36]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}
pop = my_dict.pop('apple')
print(pop, my_dict)

사과 {'banana': '바나나'}

In [60]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')

KeyError: 'melon'

In [63]:
# 두번째 인자로 default를 설정할 수 있습니다

my_dict.pop('melon', '') # 없으면 뒷인자를 리턴해

''

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [66]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(apple='삭와')
my_dict

{'apple': '삭와', 'banana': '바나나', 'melon': '멜론'}

In [67]:
my_dict.update(asdf='asdf')
my_dict['qwer'] = 'qwer'  # 새로 추가됨 {'qwer': 'qwer'}
print(my_dict)
my_dict['qwer'] = '1234'  # 수정됨 {'qwer': '1234'}
print(my_dict)

{'apple': '삭와', 'banana': '바나나', 'melon': '멜론', 'asdf': 'asdf', 'qwer': 'qwer'}
{'apple': '삭와', 'banana': '바나나', 'melon': '멜론', 'asdf': 'asdf', 'qwer': '1234'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [68]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [71]:
print(my_dict.get('pineapple'))
print(my_dict.get('banana'))
print(my_dict.get('pineapple', 'lala'))   # 없으면 lala 해
print(my_dict)

None
바나나
lala
{'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [73]:
# dictionary comprehension
cubic = {x: x**3 for x in range(1, 11)}
cubic

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### dictionary comprehension 사용해보기

In [12]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [15]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

bad_air = {key: value for key, value in dusts.items() if value > 80}
bad_air

{'대전': 82, '중국': 200}

In [16]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

grade = {key: '나쁨' if value >80 else '보통' for key, value in dusts.items()}
print(grade)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [24]:
# elif 도 사용할 수 있습니다.

grade = {
    key: '아주나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 50 else '좋음' if value > 30 else '아주 좋음' for key, value in dusts.items()
}

print(grade)

{'서울': '보통', '대전': '나쁨', '구미': '아주 좋음', '광주': '좋음', '중국': '아주나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [25]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.add('하')
fruits.add('하') # 중복 안됨.
fruits

{'바나나', '사과', '수박', '하'}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [26]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update({'토마토', '떡'}, {'마'})
fruits

{'떡', '마', '바나나', '사과', '수박', '토마토'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [30]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.remove('바나나')
fruits
fruits.remove('마', '마!')  # 디폴트 못정함.

TypeError: remove() takes exactly one argument (2 given)

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [19]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
r = fruits.discard('마')
print(r, fruits)

None {'사과', '바나나', '수박'}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [21]:
# pop을 사용해봅시다.
fruits = {}
s = fruits.pop()
print(s, fruits)

TypeError: pop expected at least 1 arguments, got 0

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [43]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.
chars = []
for number in numbers:
    chars.append(str(number))
print(chars)
''.join(chars)

['1', '2', '3']

'123'

In [44]:
# list comprehension
chars = [str(number) for number in numbers]
print(chars)
''.join(chars)

['1', '2', '3']

'123'

In [51]:
# map
numbers = [1, 2, 3]
chars = map(str, numbers)  # 돌릴 값을 뒤에 넣고, 적용할 객체를 앞에 둔다.
list(chars)
# print(chars) # 주소가 나오고, list에 넣어야만 list가 나옴

<class 'map'>

In [55]:
tags = ['오늘', '회식', '월요일']
def make_hashtag(word):
    return '#' + word
hashtags = list(map(make_hashtag, tags))  # return  있음

print(hashtags)

['#오늘', '#회식', '#월요일']

In [61]:
chars = ['1', '2', '3']
result = []
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
for char in chars:
    result.append(int(char))
    
result

[1, 2, 3]

In [59]:
# list comprehension
result = [int(char) for char in chars]
result

[1, 2, 3]

In [62]:
result = list(map(int, chars))
result

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [67]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

cubes = list(map(cube, range(1, 11)))
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [71]:
# 파이썬의 효율을 추구하기 위해 생긴 현상
# map, zip은 interable에 한번 집어넣는 게 목표
# 한 번 소비(clear)하면서 다른 곳에 잘 저장 하든가, 포문을 돌리든가

cubes = map(cube, range(1, 11))
print(cubes)  # 1회성, 한번 따면 날아감
list(cubes) # 땃는데 저장도 못하고 리턴도 못하고 .. 다시 못쓴다

cube_list = list(cubes)  # 빈 리스트를 내뱉는다
cube_list

<map object at 0x00000210AFB4E240>

[]

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [72]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [74]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [83]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

a, b = (1, 2)
# print(a, b)
print({'a': 1, 'b': 2}.items())  # items는 k, v 튜플화

my_dict = {}
for girl, boy in zip(girls, boys):
    my_dict[girl] = boy

my_dict

dict_items([('a', 1), ('b', 2)])

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [87]:
my_dict = {girl:boy for girl, boy in zip(boys, girls)}
my_dict

{'justin': 'jane', 'david': 'iu', 'kim': 'mary'}

* 아래와 같이 사용가능하다.

In [89]:
a = '가나다'
b = '다나가'

print(list(zip(a, b)))

for char_a, char_b in zip(a, b):
    print(char_a, char_b)

[('가', '다'), ('나', '나'), ('다', '가')]
가 다
나 나
다 가

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [90]:
a = '12'
b = 'adv'
print(list(zip(a, b)))

[('1', 'a'), ('2', 'd')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [95]:
from itertools import zip_longest

a = 'asdf'
b = [1, 2]

list(zip_longest(a, b))
list(zip_longest(a, b, fillvalue = '고독'))

[('a', 1), ('s', 2), ('d', '고독'), ('f', '고독')]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [104]:
# 짝수인지 판단하는 함수를 작성해봅시다.
def is_even(num):
    return num % 2 == 0  # t,f 나감

numbers = range(1, 11)
list(filter(is_even, numbers))

[2, 4, 6, 8, 10]

In [105]:
# 다음의 list comprehension과 동일하다.
[n for n in numbers if n % 2 == 0]
[n for n in numbers if is_even(n)]

[2, 4, 6, 8, 10]

In [106]:
n % 2 == 0

n % 2  # 홀수 판별

NameError: name 'n' is not defined

In [121]:
phone_numbers = [
    '01012341234', 
    '0212345678',
    '010123456789',
    '01015978423',
    '+82)10998894',
]

def is_valid_phone(phone_number):
    if phone_number [:3] == '010' and len(phone_number) == 11:
#         if phone_number[3:]:
# #         if len(phone_number) == 11
        return phone_number
#     # return None 통과못하면 어차피 얘가 나와서 아래가 필요없다
       
    else:
        return False

is_valid_phone('01015151515')
list(filter(is_valid_phone, phone_numbers))

['01012341234', '01015978423']