# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다. 나머지는 모두 소문자가 됨

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [6]:
cap = words.capitalize()
title = words.title()
upper = words.upper()
upper

"HI! EVERYONE, I'M KIM"

### `.lower()`, `.swapcase()`

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [ ]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [8]:
lower = words.lower()
sc = words.swapcase()
print(lower)
sc

hi! everyone, i'm kim

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)` V(많이 쓰는 애들)

특정한 문자열로 만들어 반환합니다.
iterable(for문에서 돌아가는 애들)

In [314]:
# 아래에 코드를 작성하세요.
exc = '!'
exc.join('배고파')

'!'.join('배고파')

'-'.join(['hi', 'hello'])

'#'.join(['월요일', '졸리다', 'python', 'ssafy'])

'월요일#졸리다#python#ssafy'

### `<class str>.replace(old, new[, count])` V

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다. count는 옵션

In [308]:
# 아래에 코드를 작성하세요.
'yayaya!'.replace('a', '_')
'wooooowoooo'.replace('o', '', 3)

s = 'woooooowoooo'
s2 = s.replace('o', 'x')
s2

'woowoooo'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [20]:
# 아래에 코드를 작성하세요.
s = '   oh!   \n'.strip()
print('     oh!\n new'.strip())
s

oh!
 new

'oh!'

In [24]:
s = '    oh! \n   '.lstrip()
print(s)

oh!

In [26]:
'hehehehihihi'.rstrip('hi')
'hehehehihihi'.lstrip('he')

'ihihi'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.  (많이 쓰지만 있냐 없냐가 더 중요)

In [27]:
# 아래에 코드를 작성하세요.
'apple'.find('l')

3

In [29]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [32]:
# 아래에 코드를 작성하세요.
'apple'.index('l')

3

In [33]:
'apple'.index('k')

ValueError: substring not found

## `split([chars = ' '])` V

문자열을 특정한 단위로 나누어 리스트로 반환합니다.
기본적으로 띄어쓰기로 찢는
당

In [15]:
# 아래에 코드를 작성하세요.
'a b c'.split()
'a-b-c'.split('-')
insta = '#월요일 #밥시간 #미세먼지 오늘은 어쩌고 저쩌고'
words = insta.split()

hashtags = []
for word in words:
    if word[0] == '#':
        hashtags.append(word[1:])
        
hashtags

['a', 'b', 'c']

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [46]:
dir(1)  # (class/자료)로 할 수 있는거

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

---

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)` V

리스트에 값을 추가할 수 있습니다.

피카츄 -> 라이츄 진화하면 피카츄는 사라진다

In [48]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [49]:
# 값을 추가해봅시다.
caffe.append('caffebene')
caffe

['starbucks', 'tomntoms', 'hollys', 'caffebene']

In [50]:
result = caffe.append('ediya')
print(result)

None

In [52]:
def a():
    return 1
def b():
    useless = 1 + 1
    # return None

c = a()
d = b()
print(c, d)

1 None

In [51]:
caffe

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya']

In [63]:
# 어렵게 넣어보도록 해봅시다.
# caffe = caffe + [droptop]
caffe[len(caffe):] = ['ediya']
caffe

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

여러 개를 붙일 수 있따 
'+'연산을 좀 더 많이 쓴다?

In [64]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['droptop', 'baek'])

In [65]:
caffe

['starbucks',
 'tomntoms',
 'hollys',
 'caffebene',
 'ediya',
 'ediya',
 'ediya',
 'droptop',
 'baek']

In [66]:
# 앞서 배운 list concatenate와 동일합니다.
caffe += ['w cafe', 'angelinus']
caffe

['starbucks',
 'tomntoms',
 'hollys',
 'caffebene',
 'ediya',
 'ediya',
 'ediya',
 'droptop',
 'baek',
 'w cafe',
 'angelinus']

In [67]:
# append와 비교해봅시다.
l = []
l.append(['a', 'b'])  # [['a', 'b']]
print(l)
l.extend(['a', 'b'])  # ['a', 'b']
print(l)

[['a', 'b']]
[['a', 'b'], 'a', 'b']

In [70]:
s = 'a'+'b'
s  # 'ab'
ss = 'c' 'd'
ss  # 'cd'
l3 = ['a' 'b']
l3  # ['ab']

['ab']

In [71]:
caffe.append(['coffeenie'])
print(caffe)
caffe.extend('coffeegurunaru')
print(caffe)  # extend 안에있는걸 분리해서 하나하나 추가하니까 string 추가 시 유의

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'droptop', 'baek', 'w cafe', 'angelinus', ['coffeenie']]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'droptop', 'baek', 'w cafe', 'angelinus', ['coffeenie'], 'c', 'o', 'f', 'f', 'e', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다. 

return None

In [72]:
lunches = ['돈까스', '매운닭볶음']

In [73]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
lunches.insert(0, '파스타')
lunches

['파스타', '돈까스', '매운닭볶음']

In [79]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
lunches.insert(len(lunches), '곱창')
lunches

['파스타', '돈까스', '샐러드', '샐러드', '샐러드', '샐러드', '매운닭볶음', '샐러드', '곱창']

In [80]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
lunches.insert(len(lunches) + 100, '배고파')
lunches

['파스타', '돈까스', '샐러드', '샐러드', '샐러드', '샐러드', '매운닭볶음', '샐러드', '곱창', '배고파']

### `remove(x)` V

리스트에서 값이 x인 것을 삭제합니다.

In [82]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [83]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)

In [87]:
# 한번 더 삭제해봅시다.
numbers.remove(1)

ValueError: list.remove(x): x not in list

In [88]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers

[2, 3, 2]

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다. return (인형뽑기)

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [89]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [90]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
numbers.pop(0)

1

In [91]:
numbers

[2, 3, 4, 5, 6]

In [92]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
print(numbers)
pop_value = numbers.pop()
print(f'{pop_value}가 삭제되어 {numbers}가 남았습니다.')

[2, 3, 4, 5, 6]
6가 삭제되어 [2, 3, 4, 5]가 남았습니다.

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [93]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
numbers.index(3)  # 3이라는 요소의 인덱스가 뭐닝?

2

In [97]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

value = 100
if value in numbers:
    i = numbers.index(100)
else:
    i = -1    
i

-1

### `.count(x)` V

원하는 값의 갯수를 확인할 수 있습니다.

In [98]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]
numbers.count(1)

3

In [101]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
numbers.remove(1)

target = 1
for _ in range(numbers.count(target)):  
    numbers.remove(target)

In [102]:
numbers

[2, 5, 5]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

### `.sort()` V

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [105]:
numbers = [5, 2, 3, 1, 4]
sorted(numbers)  # return 0, origin not change

sorted('fdsa')  # 자동으로 sort하여 list로
''.join(sorted('fdsa'))

'adfs'

In [107]:
x = numbers.sort()  # return 없음(None), origin change(피카츄)
print(x)

None

In [108]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[10, 7, 12, 31, 38, 40]

In [110]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)
lotto.sort(reverse=True)
print(lotto)

[7, 10, 12, 31, 38, 40]
[40, 38, 31, 12, 10, 7]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [111]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [112]:
classroom.reverse()  # return None, origin change
print(classroom)

['Justin', 'David', 'Tom']

## 복사 V

In [113]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

copy_list = original_list
print(copy_list)

[1, 2, 3]

In [114]:
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = 'a'
print(copy_list, original_list)  # 둘다 멍청하게 자리만 가리키고 있음

['a', 2, 3] ['a', 2, 3]

In [ ]:
# id 값을 확인해봅시다.
print(id(original_list) == id(copy_list))  # True

In [115]:
# 숫자를 확인해봅시다.  call by value
a = 1000000
b = a
b = 2
print(a, b)

1000000 2

In [117]:
# 딕셔너리도 확인해봅시다.  call by reference
# 파이썬 튜터에 해보면 잘 나옴  pointing하고있는애들
a = ('a', 'b')
a = {1, 2, 3}
b = a

c = {'a': 1, 'b': 2}
d = c
d['a'] = 100
print(c, d)

{'a': 100, 'b': 2} {'a': 100, 'b': 2}

In [ ]:
# list는 바뀌어서 문제 (mutable에서 list만 문제임..)
a = [1, 2, 3]
b = a
b[2] = 100
b.append('a')

# tuple은 재할당은 가능하지만 바꾸는게 불가능하기때문에 영향을 받지 않음(복사할필요가 없어서)
i = (1, 2, 3)
j = i  # 이렇게만 하면 값을 바꿀 수 없다고 에러남
i = (1, 2, 3, 4)

### copy  - 시험에 나온답니당
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 list 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = a[:]  # 슬라이싱 - 리턴

In [ ]:
# 다른 방법으로 복사해봅시다.
b = list(a)  # list([1, 2, 3])

In [ ]:
import copy
a = [1, 2, 3]
b = copy.copy(a)

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# tutor에서 보세영
a = [
    [1, 2, 3],
    [4, 5, 6]
]

i1 = [1, 2, 3]
i2 = [4, 5, 6]

l1 = [i1, i2]  
l2 = l1[:]

In [ ]:
# 2차원 배열을 복사해봅시다. 
l1 = [
    {'movieCd': 123},
    {'movieNm': 456}
]
l2 = l1[:]
l3 = list(l1)

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.
import copy
l1 = [
    [1, 2, 3],
    [4, 5, 6]
]
l2 = copy.deepcopy(l1)  #완전 복사

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [118]:
# clear를 사용해봅시다. 원본이바뀐다
numbers = list(range(1, 46))
numbers.clear()
numbers

[]

In [ ]:
# tutor
a = [1, 2, 3]
b = a
a.clear()  # a, b == []

c = [1, 2, 3]
d = c
c = []  # 재할당이라는것은 기존의것(연결고리 등)을 다 무시한다는것

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [122]:
numbers = range(1,11)

In [123]:
# 기존의방법
cubic_list = []
for number in numbers:
    cubic_list.append(number ** 3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [124]:
# List Comprehension
cubic_list = [number ** 3 for number in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [126]:
numbers = range(1,11)

In [128]:
# 기존의방법
evens = []
for number in numbers:
    if number % 2 == 0:
        evens.append(number)
print(evens)

[2, 4, 6, 8, 10]

In [129]:
# List Comprehension
even_list = [number for number in numbers if number % 2 == 0]
                # for 또는 조건이 뒷쪽에, 표현되는 값(?)이 앞쪽에
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [130]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [132]:
# 반복문을 활용하여 만들어주세요.
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [134]:
# List comprehension을 활용하여 만들어주세요.
pairs = [(boy, girl) for boy in boys for girl in girls]  # 최종적으로 들어가는 것이 튜플
pairs

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [136]:
# 반복문을 활용하여 만들어주세요. #중복됨, 튜플은 순서가 있어서 중복이라고 판단하지 않는다
result = []
for x in range(1, 50):
    for y in range(1, 50):
        for z in range(1, 50):
            if x ** 2 + y ** 2 == z ** 2:
                result.append((x, y, z))
print(result)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (18, 24, 30), (20, 15, 25), (20, 21, 29), (21, 20, 29), (21, 28, 35), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (27, 36, 45), (28, 21, 35), (30, 16, 34), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41)]

In [137]:
result = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x ** 2 + y ** 2 == z ** 2:
                result.append((x, y, z))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [139]:
# List comprehension을 활용하여 만들어주세요.
result = [
    (x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x ** 2 + y ** 2 == z ** 2
]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [129]:
# List Comprehension
even_list = [number for number in numbers if number % 2 == 0]
                # for 또는 조건이 뒷쪽에, 표현되는 값(?)이 앞쪽에
print(even_list)

[2, 4, 6, 8, 10]

In [200]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
vowels = 'aeiou'

result = []

# 직전 결과 == list
# 최종 결과 == str

In [193]:
string = 'Life is too short, you need python!'
vowels = 'aeiou'
result = []

# 파이썬적이지않은,.
# for char in string:
#     for vowel in vowels:
#         if vowel == char:
#             break
#     else:
#         result.append(char)

for char in string:
    if char not in vowels:
        result.append(char)
print(''.join(result))

Lf s t shrt, y nd pythn!

In [196]:
result = [char for char in string if char not in vowels]
print(''.join(result))

Lf s t shrt, y nd pythn!

In [197]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

---

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [205]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}
pop = my_dict.pop('apple')
print(pop, my_dict)

사과 {'banana': '바나나'}

In [206]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')

KeyError: 'melon'

In [208]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', '') # 없으면 뒷인자를 리턴해

''

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [211]:
# update를 사용해봅시다. mutable origin change
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(apple='삭와')
my_dict

{'apple': '삭와', 'banana': '바나나', 'melon': '멜론'}

In [214]:
my_dict.update(asdf='asdf')
my_dict['qwer'] = 'qwer'  # 새로 추가됨 {'qwer': 'qwer'}
print(my_dict)
my_dict['qwer'] = '1234'  # 수정됨 {'qwer': '1234'}
print(my_dict)

{'apple': '삭와', 'banana': '바나나', 'melon': '멜론', 'asdf': 'asdf', 'qwer': 'qwer'}
{'apple': '삭와', 'banana': '바나나', 'melon': '멜론', 'asdf': 'asdf', 'qwer': '1234'}

### `.get(key[, default])` V

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [215]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [221]:
print(my_dict.get('pineapple'))
print(my_dict.get('banana'))
print(my_dict.get('asdf', '그런거 없다'))

None
바나나
그런거 없다

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [222]:
# dictionary comprehension
cubic = {x: x**3 for x in range(1, 11)}
cubic

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### dictionary comprehension 사용해보기

In [2]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [226]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
bad_air = {key: value for key, value in dusts.items() if value > 80}
print(bad_air)

{'대전': 82, '중국': 200}

In [245]:
# V 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

a = 10
if a > 10:
    '큼'
else:
    '작음'

result = '큼' if a > 10 else '작음'


#grade = {for key, value in dusts.items()}

grade = { key: value for key, value in dusts.items()}
grade

grade = { key: ('나쁨' if value > 80 else '보통') for key, value in dusts.items()}  # 괄호() 빼도 됨
print(grade)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [4]:
# elif 도 사용할 수 있습니다.  ,, 안보는게 나을 것 같다라고 하심 - 있다라는 것만 알아두자(가독성이 우선)
grade = {
    # k: (v) for k, v in dusts.items()
    k: ('매우나쁨' if value > 150 else '나쁨' if value > 80 else 
        '보통' if value > 30 else '좋음') 
    for k, value in dusts.items()
}

---

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [235]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.add('떡')
fruits.add('떡')  # 중복 없다
fruits

{'떡', '바나나', '사과', '수박'}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [237]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update({'토마토', '떡'},{'두리안', '딸기'},{'토마토', '딸기'})
fruits

{'두리안', '딸기', '떡', '바나나', '사과', '수박', '토마토'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [239]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.remove('사과')
fruits
fruits.remove('asdf', 1)  # 디폴트못정한다

TypeError: remove() takes exactly one argument (2 given)

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [243]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
r = fruits.discard('사과')
print(r)
print(fruits)

None
{'수박', '바나나'}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [244]:
# pop을 사용해봅시다.
fruits = {"사과", "바나나", "수박", "아보카도"}
pop = fruits.pop()
print(pop, fruits)

사과 {'수박', '아보카도', '바나나'}

---

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [2]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.
chars = []
for number in numbers:
    chars.append(str(number))
print(chars)
''.join(chars)

['1', '2', '3']

'123'

In [5]:
# list comprehension
chars = [str(number) for number in numbers]
print(chars)
''.join(chars)

['1', '2', '3']

'123'

In [8]:
# map
numbers = [1, 2, 3]
chars = map(str, numbers) # 돌릴 값을 뒤에 넣고, 적용할 객체를 앞에 넣는다
# list(chars)
# print(chars)  # 주소가 나오지만 사실상 list로 봐도 무방

print(''.join(chars))
print(list(chars))

123
[]

In [269]:
tags = ['오늘', '회식', '월요일']
def make_hashtag(word):
    return '#' + word

#make_hashtag('test')

hashtags = list(map(make_hashtag, tags))  # return있음
print(tags, hashtags)

['오늘', '회식', '월요일'] ['#오늘', '#회식', '#월요일']

In [275]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
list(map(int, chars))

[1, 2, 3]

In [276]:
# list comprehension
numbers = [int(char) for char in chars]
numbers

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [9]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

# numbers = range(1, 11)
# cubes = list(map(cube, numbers))
cubes = list(map(cube, range(1, 11)))
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [13]:
# python의 효율을 추구하기 위해 생긴 현상
# map, zip 은 iterable?에 한번 집어넣는게 목표 
# 한 번 소비(clear)하면서 다른 곳에 잘 저장을 하든가, 포문을 돌리든가,

cubes = map(cube, range(1, 11))
# print(cubes)  # 1회성, 한번 따면 날아감
# list(cubes) # 땃는데 저장도 못하고 리턴도 못하고 .. 다시 못쓴다

cube_list = list(cubes)  # 빈 리스트를 내뱉는다
cube_list

[]

In [269]:
tags = ['오늘', '회식', '월요일']
def make_hashtag(word):
    return '#' + word

#make_hashtag('test')

hashtags = list(map(make_hashtag, tags))  # return있음
print(tags, hashtags)

['오늘', '회식', '월요일'] ['#오늘', '#회식', '#월요일']

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [278]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [279]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [282]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

a, b = (1, 2)
# print(a, b)

print({'a':1, 'b':2}.items())  # items는k,v를튜플화

my_dict = {}
for girl, boy in zip(girls, boys):
    my_dict[girl] = boy
my_dict

dict_items([('a', 1), ('b', 2)])

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [285]:
my_dict = {girl: boy for girl, boy in zip(girls, boys)}
my_dict

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [289]:
a = '가나다'
b = '다나가'

print(list(zip(a, b)))

for char_a, char_b in zip(a, b):
    print(char_a + char_b)

[('가', '다'), ('나', '나'), ('다', '가')]
가다
나나
다가

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [290]:
a = '12'
b = 'abc'
list(zip(a, b))

[('1', 'a'), ('2', 'b')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [293]:
from itertools import zip_longest

a = 'asdf'
b = [1, 2]
list(zip_longest(a, b))  # None
list(zip_longest(a, b, fillvalue='고독'))

[('a', 1), ('s', 2), ('d', '고독'), ('f', '고독')]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [296]:
# 짝수인지 판단하는 함수를 작성해봅시다.
def is_even(num):
    return num % 2 == 0  # t,f가 나감

numbers = range(1, 10)
list(filter(is_even, numbers))

[2, 4, 6, 8]

In [298]:
# 다음의 list comprehension과 동일하다.
[n for n in numbers if n % 2 == 0]  # not n % 2
[n for n in numbers if is_even(n)]

[2, 4, 6, 8]

In [ ]:
n % 2 == 0

n % 2  # 홀수판별

In [305]:
phone_numbers = [
    '01012341234', 
    '0212345678',
    '010123456789',
    '01015978423',
    '+82)10998894',
]

def is_valid_phone(phone_number):
    if phone_number [:3] == '010' and len(phone_number) == 11:
        #if phone_number[3:]:
        #if len(phone_number) == 11
        
    # return None 통과못하면 어차피 얘가 나와서 아래가 필요없다
#         else: 
#             return False
#     else:
#         return False

is_valid_phone('01015151515')
list(filter(is_valid_phone, phone_numbers))

['01012341234', '01015978423']